.content {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .Header {
    &>div {
      width: 100%;
      height: 85px;
      background-color: var(--bordo-bg-gmartins);
      box-shadow: 0px 4px 4px 0px var(--box-shadow-black);
      padding: 1rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 880px) {
        justify-content: flex-start;
        padding: 1rem 1rem;
        gap: 0.5rem;

        & nav {
          display: none;
        }
      }


      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 2rem;
        font-size: 0.875rem;

        li {
          font-weight: 600;
          transition: all 0.2s linear;
          color: var(--white-text-gmartins);
          position: relative;

          &:hover {
            &::before {
              content: '';
              position: absolute;
              bottom: -4px;
              border-radius: 4px;
              height: 2px;
              background-color: var(--yellow-bg-gmartins);
              animation: line-menu 0.2s both;
            }
          }
        }
      }
    }


    @keyframes line-menu {
      0% {
        width: 0;
        left: 50%;
      }

      100% {
        left: 0;
        width: 100%;
      }
    }
  }


  .subHeader {
    &>div {
      padding: 0.5rem 4rem;
      background-color: var(--yellow-bg-gmartins);
      height: 36px;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;

      color: var(--black-text-gmartins);
      font-family: Poppins;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      & .separator {

        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: -18px;
          top: 0;
          height: 100%;
          width: 2px;
          background-color: var(--bordo-bg-gmartins);
        }
      }

      @media screen and (max-width: 768px) {
        padding: 0.5rem 1rem;
        gap: 1rem;
        justify-content: center;

        & .separator::after {
          right: -8px;
          width: 1px;
        }
      }
    }
  }

}

.fixedHeader {
  display: block;
  width: 100%;
  height: 120.2px;
}