.CardAlreadyKnows {
  display: grid;
  grid-template-columns: 125px 1fr;
  gap: 4rem;
  min-height: 250px;
  padding: 2rem;
  margin-right: 60px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    min-height: 490px;
    max-height: 490px;
    margin-right: 10px;
    padding: 1rem;
  }

  max-width: 1000px;

  & .cardAlreadyKnowsAvatar {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    min-width: 125px;
    max-width: 125px;
    max-height: 125px;
    min-height: 125px;
    border-radius: 50%;
    background-color: var(--purple-1);
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    @media screen and (max-width: 768px) {
      margin: auto;
    }
  }

  .contentCardAlreadyKnows {

    & span {
      display: block;
      color: var(--purple-1);
      font-size: 6rem;
      font-weight: 600;
      line-height: 4rem;
    }

    & p {
      display: block;
      font-weight: 500;
      color: var(--grafite);
      font-size: 1rem;
      margin-top: -1rem;

      &:last-child {
        margin: 0;
      }
    }
  }

  & strong {
    display: block;
    margin-top: 1rem;
  }
}