.MenuMobile {
  @media screen and (min-width: 881px) {
    display: none;
  }

  .contentMenu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0.5rem;

    .menuItem {
      color: var(--bordo-text-gmartins);

      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 48px;
      letter-spacing: -0.16px;
      text-transform: uppercase;

      & a {
        display: block;
        width: 100%;
      }

      border-bottom: 2px solid var(--yellow-bg-gmartins);
    }
  }
}