.FooterDesktop {
  display: grid;
  grid-template-columns: 222px 222px 222px 1fr;
  gap: 1.5rem;
  padding: 2rem 0;

  @media screen and (min-width: 1170px) {
    padding: 2rem 4rem;
  }

  @media screen and (max-width: 960px) {
    grid-template-columns: 190px 190px 190px 1fr;
    gap: 1rem;
  }

  & img {
    margin-left: auto;
  }

  .item {
    &:hover .title::before {
      width: 80%;
    }

    .title {
      position: relative;
      display: block;
      font-size: 1rem;
      font-weight: 600;
      color: var(--yellow-text-gmartins);
      margin-bottom: 1rem;
      text-transform: uppercase;

      &::before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        border-radius: 4px;
        width: 50px;
        height: 3px;
        background-color: var(--yellow-bg-gmartins);
        transition: all 0.2s linear;
      }
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--white-text-gmartins);

      & a,
      & p {
        transition: all 0.2s linear;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}