:root {
  --font-mono: 'Poppins', 'Segoe UI Mono', 'Roboto Mono', monospace;

  --bordo-bg-gmartins: #771239;
  --bordo-text-gmartins: #771239;

  --yellow-text-gmartins: #FAB41E;
  --yellow-bg-gmartins: #FAB41E;

  --black-bg-gmartins: #272727;
  --black-text-gmartins: #272727;

  --yellow-100-bg-gmartins: #FFF4DD;
  --yellow-100-text-gmartins: #FFF4DD;

  --yellow-150-bg: #fef0d2;
  --yellow-150-text: #fef0d2;

  --white-bg-gmartins: #FFFFFF;
  --white-text-gmartins: #FFFFFF;

  --black-bg: #000000;
  --black-text: #000000;

  --box-shadow-black: rgba(0, 0, 0, 0.25);

  --grafite-bg: #272727;
  --grafite-text: #272727;

  --gray-bg-200: #5b626c;
  --gray-text-200: #5b626c;

  --gray-bg-100: #637381;
  --gray-text-100: #637381;

  --time-line-color: #FAB41E;
}