:root {
  --font-mono: 'Lexend', 'Segoe UI Mono', 'Roboto Mono', monospace;

  --grafite: #333333;
  --purple: #E4CEEE;
  --purple-1: #B784CE;
  --purple-2: #A960B9;
  --purple-3: #9C3BA3;
  --purple-4: #8E178E;
  --white: #ffffff;
  --white-1: #fafafa;
  --black: #000000;

  --box-shadow-black: rgba(0, 0, 0, 0.25);

  --fixed-header-height: 85px;

  --background-overlay: #ffffffaa;
}